body {
  display: flex;
  flex-direction: column;
  background: #cccccc;
  color: #333333;
  margin-top: 5rem;
}



.display-4{
  color: #111010; /*this is for the big text on the jumbotron changes the color*/
}

.jumbotron{
background: #79786c ; /*this is for the main part of the home page wiht my name and the social media*/
color: #110808;
/*background-color:none !important;*/
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;          
}

.site-header .navbar-nav .nav-link {          /* Controls wording on Nav*/
  color: #5272a3;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.bg-steel {
  background-color: #394661;                  /* Controls background on Nav*/
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4vh;
  background-color: #394661;
  color: #cccccc;
  text-align: center;
  align-self: center;
}


