{% extends "base.html" %}
{% block bod %}
<center>

    <div class="profile-image">
        <img src={{image_file}}>
    </div>


    <!-- JUMBOTRON -->
    <div class="jumbotron" scale=100% style="padding-top: 5px">
        <h1 class="display-4">About Me</h1>
        <p class="lead">
            Hey my name is Surya and im a senior at UC Santa Cruz getting a degree in Computer Science. Alongside
            programming some of my hobbies include weighlifting,slacklining,spikeball, just about anything I can do with
            some
            friends. I am also a part of a competitive south east asian
            acapella team at UCSC, where we perform in competitions against other schools across the country. Check out
            my acapella page to learn more! For more info on my programming projects take a look at my projects tab
            where I briefly explain each one including the github repo for the code.

        </p>
    </div>
</center>{% endblock %}