{% extends "base.html" %}
{% block bod %}

<center>
    <div class="jumbotron">
        <h1 class="display-4" style="padding-top: 10%;"><b>Surya Rani</b></h1>
        <p class="lead">



            <a target="_blank" rel="noopener noreferrer" href="https://github.com/SuryaRani">
                <img src={{github}} alt="Github PNG" style="width:35px;height:35px;border:0;">
            </a>

            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/surya-rani-5b4a39198/">
                <img src={{linkedin}} alt="LinkedIn PNG" style="width:35px;height:35px;border:0;">
            </a>

            <a href="mailto:suryavrani@gmail.com" target="_top">
                <img src={{email}} alt="Email PNG" style="width:35px;height:35px;border:0;">
            </a>

            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/notsuryarani/">
                <img src={{instagram}} alt="Instagram PNG" style="width:35px;height:35px;border:0;">
            </a>

    </div>
</center>

{% endblock %}